body {
	color: white;
	background: black;
}

footer {
	clear: both;
	text-align: center;
	padding-top: 2em;
	font-size: larger;
}

footer a {
        color: #5DC1B9;
}

h1 {
	text-align: center;
        text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.68);
	color: crimson;
	font-variant: small-caps;
}

h2 {
	color: goldenrod;
}

h3 {
	color: #2B65EC;
}

header, .main , footer {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.main a {
	color: #5DC1B9;
}

.main p,blockquote {
	color: #D3D3D3;
}

a:hover {
	color: #8DE8C2;
}

.menubar li a {
    	display: block;
        color: #5DC1B9;
        text-decoration: none;
}

.menubar {
    	display: inline-block;
    	margin: 0;
    	padding: 0;
    	zoom:1;
}

header nav {
	margin-left: auto;
	margin-right: auto;
    	font-size: large;
    	text-align: center;
}

.menubar li {
	display: block;
	float: left;
	width: 100px;
	min-height: 1.5em;
    	background: #222;
    	border: #444 solid 2px;
    	padding: 3px;
    	margin: 4px;
}

.menubar li:hover {
    	background: #000;
}

.menubar li ul {
	visibility: hidden;
	position: absolute;
	padding-top: 10px;
}

.menubar li:hover ul {
	visibility: visible;
	padding-left: 0;
	margin-left: -7px;
}

.menubar li ul li {
    	float: none;
    	position: relative;
    	width: 150px;
    	text-align: left;
}
